* {
    outline: none !important;
    margin: 0;
    padding: 0px;
    font-family: 'Poppins';
}
:root {
    --primary-color: #20BE4D;
    
    --primary-color-light: #20be4d8c;
    
    --background-color: white;
    --text-color: rgb(25, 26, 37);
    
    --heading: 18px;
    --sub-heading: 16px;
    --content: 14px;

    --nav-width: 300px;
    --breadcrump-height: 45px;

    --user-stoke-color: #20BE4D;
    --orders-stoke-color: #9c00aa;
    --ordersDelv-stoke-color: #65ff57;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    width: 4px;
}

/* GRAPH COLORS */
.ct-series-a .ct-line {
    stroke: var(--user-stoke-color); 
    stroke-width: 3px; 
}
.ct-series-a .ct-point {
    stroke: var(--user-stoke-color);  
    stroke-width: 6px; 
}
.ct-series-a .ct-area {
    fill: var(--user-stoke-color);  
} 
.ct-series-a .ct-bar {
    stroke: var(--user-stoke-color); 
    stroke-width: 6px; 
}

p {
    font-size: 14px;
    color: #333;
}

.Button {
    color: white;
}

button:hover {
    cursor: pointer;
    transform: translateY(-1.5px);
}
button:active {
    cursor: pointer;
    transform: translateY(0.5px);
}
.MuiButton-containedPrimary {
    color: white !important;
}
@media only screen and (max-width: 1450px) {
    :root {
        --nav-width: 220px;
    }
}
