.container {
    width: 97%;
    margin: 0 auto;
}
.blogContent {
    width:95%;
    margin: 0 auto;
    display: flex; 
    align-items: flex-start;
    flex-direction: column;
}
.blogContent img {
    height: 200px;
    border-radius: 2px;
}
.blogContent h1 {
    color: #333;
    font-size: 25px;
    margin: 20px 0px;
}