.container {
    width: 100vw;
    display: flex;
    height: 100vh;
    position: absolute;
    background-color: white;
    z-index: 100;
    left: 0px;
}
.containerLeft {
    height: 100%;
    width: 60%;
    background-image: url('../../assets/img/login-bg.png');
} 
.containerRight {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rightContainer {
    width: 60%;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.logo {
    width: 80px;
    height: 80px;
    margin: 15px 0px;
}
.head {
    text-transform: uppercase;
    font-size: 24px;
    margin: 15px 0px;
    font-weight: bold;
    color: var(--primary-color);
}
.rightContainer input{
    font-size: 15px;
    height: 45px;
}
.rightContainer button {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 0px;
}
.alignRight {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

@media only screen and (max-width: 1450px) {
    .rightContainer {
        width: 70%;
    }
}